---
ansible_python_interpreter: /usr/bin/python3

ssh_users:
- ansible
- dkofler

firewalld_services:
- ssh

custom_firewalld_services:
- 9080/tcp

software_packages:
- vim
- fail2ban
- syslog-ng

uninstall_software_packages:
- otelcol
- ufw

otel_version: 0.120.0

ntp_servers:
- 0.debian.pool.ntp.org
- 1.debian.pool.ntp.org
- 2.debian.pool.ntp.org
- 3.debian.pool.ntp.org

syslog_destinations:
  - 172.20.254.100
  - 172.20.254.101
syslog_port: 514

splunk_hec_url: http://hec.lnxnet.org/services/collector
splunk_hec_token: cc6d2e34-1a4d-4d18-a5d5-a56d5338f45c

wireguard: true

wireguard_role: client
...