---
- name: Uninstall Software
  become: yes
  ansible.builtin.apt:
    name: "{{ item }}"
    state: absent
    purge: true
  loop: "{{ uninstall_software_packages }}"
  when:
    - uninstall_software_packages is defined
    - ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"

- name: Update Repositories
  become: yes
  ansible.builtin.apt:
    update_cache: yes
  when:
    - ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"

- name: Upgrade Software
  become: yes
  ansible.builtin.apt:
    upgrade: yes
  when:
    - ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"

- name: Install Base Packages
  become: yes
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop: "{{ software_packages }}"
  when:
    - ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"

- name: Install Custom Packages
  become: yes
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop: "{{ custom_software_packages }}"
  when:
    - custom_software_packages is defined
    - ansible_facts['distribution'] == "Ubuntu" or ansible_facts['distribution'] == "Debian"
...