extensions:
  health_check:

receivers:
  hostmetrics:
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
  journald:
    units:
    - ssh
    - "session-*"

processors:
  batch:
  resourcedetection:
    detectors:
    - system
    system:
      resource_attributes:
        host.name:
          enabled: true
        host.id:
          enabled: false
        os.type:
          enabled: false

exporters:
  # Metrics + Events
  splunk_hec/metrics:
    token: "{{ splunk_hec_token }}"
    endpoint: "{{ splunk_hec_url }}"
    source: "otel"
    sourcetype: "otel"
    index: "linux_metrics"
    profiling_data_enabled: false
  # Logs
  splunk_hec/logs:
    token: "{{ splunk_hec_token }}"
    endpoint: "{{ splunk_hec_url }}"
    source: "otel"
    sourcetype: "otel"
    index: "linux_logs"
    profiling_data_enabled: false
  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers:
      - hostmetrics
      processors:
      - batch
      - resourcedetection
      exporters:
      - splunk_hec/metrics
    logs:
      receivers:
      - journald
      processors:
      - batch
      - resourcedetection
      exporters:
      - splunk_hec/logs

  extensions:
  - health_check
