extensions:
  health_check:

receivers:
  hostmetrics:
    scrapers:
      cpu:
      disk:
      filesystem:
      load:
      memory:
      network:
      paging:
  journald:

processors:
  batch:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9080"
  otlp:
    endpoint: "10.140.60.249:4317"
    tls:
      insecure: true

service:
  pipelines:
    metrics:
      receivers:
      - hostmetrics
      processors:
      - batch
      exporters:
      - prometheus
      - otlp
    logs:
      receivers:
      - journald
      exporters:
      - otlp

  extensions:
  - health_check