# Custom sources
source s_fail2ban {
    file("/var/log/fail2ban.log");
};
source s_ufw {
    file("/var/log/ufw.log");
};

# Remote syslog destination

{% set dest_var = 0 %}
{% for destination in syslog_destinations %}
destination d_net_{{ dest_var }} { 
    udp(
        {{ destination }}
        port({{ syslog_port }})
        log_fifo_size(1000)
        );
};

# Internal logs
log { source(s_src); destination(d_net_{{ dest_var }}); };

# Custom logs
log { source(s_fail2ban); destination(d_net_{{ dest_var }}); };
{% set dest_var = dest_var + 1 %}
{% endfor %}
